html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

textarea {
    width: 800px;
    height: 350px;
}

input.itemCount {
    width: 60px;
}

div.commonSettings, div.component {
    margin: 30px 10px 30px 10px;
}

input.submit {
    margin: 0px 50px 0px 50px;
    width: 120px;
}
